services:
  - type: web
    name: seller-portal
    env: node
    buildCommand: npm install && DISABLE_ESLINT_PLUGIN=true npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: JWT_SECRET_KEY
        generateValue: true

